body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F5FB;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

header {
  margin-bottom: 48px;
  text-align: center;
}

main a{
  color: #CA3884;
}

main h2{
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 50px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

form input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #D1D5DB; 
  border-radius: 12px;
  font-size: 16px;
}

form input:hover{
  border-color: #B9C2D0;
}

form input:focus {
  border-color: #CA3884;
  outline: none; 
}

form button {
  width: 160px;
  height: 44px;
  background-color: #ca3884;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.4s;
  font-family: 'Inter', sans-serif;
}

form button:hover {
  background-color: #A52C6B;
}

